@model List<Project_Canteen_MS.Models.Product>
@{
    var cate = (Project_Canteen_MS.Models.Category)ViewBag.Category;
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_WebPage.cshtml";
}
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>@cate.Name</h1>
            </div>
        </div>
    </div>
</div>
<div class="menu-box">
    <div class="container">
        <div class="row inner-menu-box">
            <div class="col-12">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                            <div class="col-sm-6 col-md-4 col-lg-4 special-grid drinks">
                                <div class="gallery-single fix ">
                                    <img src="@Url.Content(item.Image)" alt="Image" width="350" height="250">
                                    <div class="why-text">
                                        <h1 style=" overflow: hidden; text-overflow: ellipsis; height:31px; -webkit-line-clamp: 1; display: -webkit-box; -webkit-box-orient: vertical; ">@Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { Style = "color:#fff;font-size:25px" })</h1>
                                        <p style="font-size: 20px; overflow: hidden; text-overflow: ellipsis; line-height: 25px; -webkit-line-clamp: 6; height: 150px; display: -webkit-box; -webkit-box-orient: vertical; ">@Html.DisplayFor(modelItem => item.Description)</p>
                                        @if (item.PromotionPrice >= 1)
                                        {
                                            <div style="display: flex; position: absolute; bottom: 0;width:100% ">
                                                <div class="col-9" style="display:flex">
                                                    <h5><del>₫@Html.DisplayFor(modelItem => item.Price)</del></h5>
                                                    <h5>&nbsp;-&nbsp;</h5>
                                                    <h5>₫@Html.DisplayFor(modelItem => item.PromotionPrice)</h5>
                                                </div>
                                                <div class="col-md-2">
                                                    <a style="float:right;margin-top:-5px" href="@Url.Action("AddToCart", "Web", new { id = item.Id, qty = item.Quantity })">
                                                        <i class="fa fa-cart-plus" style="font-size: 22px; color: #fff" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="display: flex; position: absolute; bottom: 0;width:100% ">
                                                <div class="col-9" style="display:flex">
                                                    <h5>₫@Html.DisplayFor(modelItem => item.Price)</h5>
                                                </div>
                                                <div class="col-md-2">
                                                    <a style="float:right;margin-top:-5px" href="@Url.Action("AddToCart", "Web", new { id = item.Id, qty = item.Quantity })">
                                                        <i class="fa fa-cart-plus" style="font-size: 22px; color: #fff" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>