@model dynamic
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_WebPage.cshtml";
    //Project_Canteen_MS.Models.Slide slide = Model.Slide;
}



Mạnh VG
<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        @foreach (Project_Canteen_MS.Models.Slide item in Model.Slides)
        {
            <li class="text-left">
                <img src="@Url.Content(item.Image)" />

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Chào mừng bạn đến <br> @Html.DisplayFor(modelItem => item.Title)</strong></h1>
                            <p class="m-b-40">
                                @Html.DisplayFor(modelItem => item.Content)
                            </p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Liên Hệ</a></p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->
<!-- Start Gallery -->
<div class="gallery-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Tất cả các sản phẩm</h2>
                    <p>Đây là tất cả các sản phẩm của cửa hàng chúng tôi</p>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                @foreach (Project_Canteen_MS.Models.Product item in Model.Products)
                {
                    <div class="col-sm-6 col-md-4 col-lg-4 special-grid drinks">
                        <div class="gallery-single fix ">
                            <img src="@Url.Content(item.Image)" alt="Image" width="350" height="250">
                            <div class="why-text">
                                <h1>@Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { Style = "color:#fff;font-size:25px" })</h1>
                                <p style="font-size:20px">@Html.DisplayFor(modelItem => item.Description)</p>
                                @if (item.PromotionPrice >= 1)
                                {
                                    <div style="display: flex; position: absolute; bottom: 0;width:100% ">
                                        <div class="col-9" style="display:flex">
                                            <h5><del>₫@Html.DisplayFor(modelItem => item.Price)</del></h5>
                                            <h5>&nbsp;-&nbsp;</h5>
                                            <h5>₫@Html.DisplayFor(modelItem => item.PromotionPrice)</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <a style="float:right;margin-top:-5px" href="@Url.Action("AddToCart", "Web", new { id = item.Id, qty = item.Quantity })">
                                                <i class="fa fa-cart-plus" style="font-size: 22px; color: #fff" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div style="display: flex; position: absolute; bottom: 0;width:100% ">
                                        <div class="col-9" style="display:flex">
                                            <h5>₫@Html.DisplayFor(modelItem => item.Price)</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <a style="float:right;margin-top:-5px" href="@Url.Action("AddToCart", "Web", new { id = item.Id, qty = item.Quantity })">
                                                <i class="fa fa-cart-plus" style="font-size: 22px; color: #fff" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="lead ">
                    "Nếu bạn không phải là người nấu ăn, hãy tránh xa và khen ngợi đầu bếp."

                </p>
                <span class="lead">A li ba ba</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Gallery -->
<div class="gallery-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Tất cả các sản phẩm giảm giá</h2>
                    <p>Đây là tất cả các sản phẩm đang được giảm giá của cửa hàng chúng tôi</p>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">

                @foreach (Project_Canteen_MS.Models.Product item in Model.Products1)
                {
                <div class="col-sm-6 col-md-4 col-lg-4 special-grid drinks">
                    <div class="gallery-single fix ">
                        <img src="@Url.Content(item.Image)" alt="Image" width="350" height="250">
                        <div class="why-text">
                            <h1>@Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { Style = "color:#fff;font-size:25px" })</h1>
                            <p style="font-size:20px">@Html.DisplayFor(modelItem => item.Description)</p>
                            @if (item.PromotionPrice >= 1)
                            {
                                <div style="display: flex; position: absolute; bottom: 0;width:100% ">
                                    <div class="col-9" style="display:flex">
                                        <h5><del>₫@Html.DisplayFor(modelItem => item.Price)</del></h5>
                                        <h5>&nbsp;-&nbsp;</h5>
                                        <h5>₫@Html.DisplayFor(modelItem => item.PromotionPrice)</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <a style="float:right;margin-top:-5px" href="@Url.Action("AddToCart", "Web", new { id = item.Id, qty = item.Quantity })">
                                            <i class="fa fa-cart-plus" style="font-size: 22px; color: #fff" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div style="display: flex; position: absolute; bottom: 0;width:100% ">
                                    <div class="col-9" style="display:flex">
                                        <h5>₫@Html.DisplayFor(modelItem => item.Price)</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <a style="float:right;margin-top:-5px" href="@Url.Action("AddToCart", "Web", new { id = item.Id, qty = item.Quantity })">
                                            <i class="fa fa-cart-plus" style="font-size: 22px; color: #fff" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->