
@{
    ViewBag.Title = "Login";
}
@model Project_Canteen_MS.Models.Admin
<h2>Login</h2>
<div class="col-md-6 col-md-offset-3">
    @using (Html.BeginForm())
    {@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(Model => Model.Email)
        @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
        @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Password)
        @Html.EditorFor(Model => Model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
        @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })

    </div>
    <a href="~/Admin/AuthAdmin/Register" style="float:right;">
        <button class="btn btn-sm btn-primary" style="float:right" type="button">
            Register
        </button>
    </a>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>
}
</div>